<<<<<<< HEAD
body{
    background-color: black;
}
canvas{
    border: 1px solid white;
=======
body{
    background-color: black;
}
canvas{
    border: 1px solid white;
>>>>>>> a9ce8a8366195656bfa6380b27d5e9f167a5f5f9
}